Django

django-cors-headers
django-environ
djangorestframework
djoser
social-auth-app-django

django-ckeditor

pytz

Pillow
mutagen

psycopg

argon2-cffi
django-environ

stripe
braintree

pyJWT

boto3
django-storages

markdown
gunicorn
whitenoise

requests
